@charset "UTF-8";

/*
    id = # (pode ser usado apenas em um elemento) 
    class = . (pode ser usado em mais de um elemento)
*/

body{
    background-color: #66b2b2;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: 	#004c4c;
}

h1#principal{
    text-align: center;
} 

h2{
    color: 	#008080;
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}
